@{
    List<string> nalepky = LodeNaVode.Controllers.Engin.engine.GetLog.Data.nalepky;
}
<h1>vyber si</h1>
@for(int i = 1; i < nalepky.Count(); i++){
    <a href="/Tah/Policko/@(-100-i)">@nalepky[i]</a><br /><br />
}