@model LodeNaVode.Controllers.TypPolicka[,];

@{
    int sirka = 10;
    int vyska = 15;
    int cislo = 0;

    bool zobrazOvladani = LodeNaVode.Controllers.Pamet.oznacenaLod;
}

<table>
    @for (int y = 0; y < Model.GetLength(0); y++)
    {
        <tr>
            @for (int x = 0; x < Model.GetLength(1); x++, cislo++)
            {
                <td>

                    @if (Model[y, x] == LodeNaVode.Controllers.TypPolicka.Lod)
                    {
                        <a href="/Tah/Policko/@cislo">
                            <div class="centerLod">
                                L
                            </div>    
                        </a>
                    }
                    @if (Model[y, x] == LodeNaVode.Controllers.TypPolicka.NepratelskaLod)
                    {
                        <a href="/Tah/Policko/@cislo">N</a>
                    }
                    @if (Model[y, x] == LodeNaVode.Controllers.TypPolicka.ZasahLod)
                    {
                        <a href="/Tah/Policko/@cislo">Z</a>
                    }
                    @if (Model[y, x] == LodeNaVode.Controllers.TypPolicka.LodPotopena)
                    {
                        <a href="/Tah/Policko/@cislo">P</a>
                    }
                    else if (Model[y, x] == LodeNaVode.Controllers.TypPolicka.Voda)
                    {
                        <a href="/Tah/Policko/@cislo">V</a>
                    }
                    else if (Model[y, x] == LodeNaVode.Controllers.TypPolicka.Mlha)
                    {
                        <a href="/Tah/Policko/@cislo">#</a>
                    }

                </td>
            }
        </tr>
    }
</table>

<!--
Negativní id se používá jako ovládání
-1 == null
-2 otočit levá
-3 rovně
-4 otočit pravá
-5 levá
-6 dolů
-7 pravá
-->
@if (zobrazOvladani)
{
    <table>
        <tr>
            <td>
                <a href="/Tah/Policko/-2">OL</a>
            </td>
            <td>
                <a href="/Tah/Policko/-4">OP</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/Tah/Policko/-5">L</a>
            </td>
            <td>
                <a href="/Tah/Policko/-6">D</a>
            </td>
            <td>
                <a href="/Tah/Policko/-7">P</a>
            </td>
        </tr>
    </table>
}