@model LodeNaVode.Controllers.TypPolicka[,];

@{
    int sirka = 10;
    int vyska = 15;
    int cislo = 0;
}

<table>
    @for (int y = 0; y < Model.GetLength(0); y++)
    {
        <tr>
            @for (int x = 0; x < Model.GetLength(1); x++, cislo++)
            {
                <td class="policko">

                    @if (Model[y, x] == LodeNaVode.Controllers.TypPolicka.Lod)
                    {
                        <a href="/Tah/Policko/@cislo"><div class="pole-lod zasazena">L</div></a>
                    }
                    else if (Model[y, x] == LodeNaVode.Controllers.TypPolicka.Voda)
                    {
                        <a href="/Tah/Policko/@cislo"><div class="pole-voda">V</div></a>
                    }
                    else if (Model[y, x] == LodeNaVode.Controllers.TypPolicka.Mlha)
                    {
                        <a href="/Tah/Policko/@cislo"><div class="pole-mlha">#</div></a>
                    }

                </td>
            }
        </tr>
    }
</table>
