@model LodeNaVode.Controllers.TypPolicka[,];

@{
    int sirka = 10;
    int vyska = 15;
    int cislo = 0;
}

<table>
    @for (int y = 0; y < Model.GetLength(0); y++)
    {
        <tr>
            @for (int x = 0; x < Model.GetLength(1); x++, cislo++)
            {
                <td>

                    @if (Model[y, x] == LodeNaVode.Controllers.TypPolicka.Lod)
                    {
                        <a href="/Tah/Policko/@cislo">
                            <div class="centerLod">
                                L
                            </div>    
                        </a>
                    }
                    @if (Model[y, x] == LodeNaVode.Controllers.TypPolicka.NepratelskaLod)
                    {
                        <a href="/Tah/Policko/@cislo">N</a>
                    }
                    @if (Model[y, x] == LodeNaVode.Controllers.TypPolicka.ZasahLod)
                    {
                        <a href="/Tah/Policko/@cislo">Z</a>
                    }
                    @if (Model[y, x] == LodeNaVode.Controllers.TypPolicka.LodPotopena)
                    {
                        <a href="/Tah/Policko/@cislo">P</a>
                    }
                    else if (Model[y, x] == LodeNaVode.Controllers.TypPolicka.Voda)
                    {
                        <a href="/Tah/Policko/@cislo">V</a>
                    }
                    else if (Model[y, x] == LodeNaVode.Controllers.TypPolicka.Mlha)
                    {
                        <a href="/Tah/Policko/@cislo">#</a>
                    }

                </td>
            }
        </tr>
    }
</table>
