@model LodeNaVode.Controllers.TypPolicka[,];

@{
    int sirka = 10;
    int vyska = 15;
    int cislo = 0;

    bool zobrazOvladani = LodeNaVode.Controllers.Pamet.oznacenaLod;
}

<table>
    @for (int y = 0; y < Model.GetLength(0); y++)
    {
        <tr>
            @for (int x = 0; x < Model.GetLength(1); x++, cislo++)
            {
                <td class="policko">

                    @if (Model[y, x] == LodeNaVode.Controllers.TypPolicka.Lod)
                    {
                        <a href="/Tah/Policko/@cislo"><div class="pole-lod zasazena">L</div></a>
                    }
                    else if (Model[y, x] == LodeNaVode.Controllers.TypPolicka.Voda)
                    {
                        <a href="/Tah/Policko/@cislo"><div class="pole-voda">V</div></a>
                    }
                    else if (Model[y, x] == LodeNaVode.Controllers.TypPolicka.Mlha)
                    {
                        <a href="/Tah/Policko/@cislo"><div class="pole-mlha">#</div></a>
                    }

                </td>
            }
        </tr>
    }
</table>

<!--
 Pohyb lodě
 Negativní id se používá jako ovládání
 -1 == null
 -2 otočit levá
 -3 otočit pravá
 -4 hore
 -5 dolů
-->
@if (zobrazOvladani)
{
    <table>
        <tr>
            <td>
                <a href="/Tah/Policko/-2">L</a>
            </td>
            <td>
                <a href="/Tah/Policko/-3">P</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="/Tah/Policko/-4">H</a>
            </td>
            <td>
                <a href="/Tah/Policko/-5">D</a>
            </td>
        </tr>
    </table>
}