@model int;

@{
    string tokeny = LodeNaVode.Controllers.PripravaController.tokeny.ToString("N").Split(",")[0].Split(".")[0];
    string cenaLodiMetodej = LodeNaVode.Controllers.PripravaController.cenaLodiMetodej.ToString("N").Split(",")[0].Split(".")[0];
    string cenaLodiBorivoj = LodeNaVode.Controllers.PripravaController.cenaLodiBorivoj.ToString("N").Split(",")[0].Split(".")[0];
    string cenaLodiCyril = LodeNaVode.Controllers.PripravaController.cenaLodiCyril.ToString("N").Split(",")[0].Split(".")[0];
    string pocetLodiMetodej = LodeNaVode.Controllers.PripravaController.pocetLodiMetodej.ToString("N").Split(",")[0].Split(".")[0];
    string pocetLodiBorivoj = LodeNaVode.Controllers.PripravaController.pocetLodiBorivoj.ToString("N").Split(",")[0].Split(".")[0];
    string pocetLodiCyril = LodeNaVode.Controllers.PripravaController.pocetLodiCyril.ToString("N").Split(",")[0].Split(".")[0];
}

<h1>Výběr lodí⚓</h1>
<div class="mena">Vaše tokeny:  <span class="curr">@tokeny¤</span></div>
<br />

<div class="btn-go">
    <a href="/Priprava/Rozmisteni">HRA!</a>
</div>
<div class="skupina-nazev">
    <h2>Malé</h2>
</div>
<div class="lodicky">
   
    <div class="card">
        <div class="contentik">
            <img src="/img/M_lod.png" alt="lod s očima" />
        </div>
        <div class="tlacitka">
            <form action="/Priprava/KliknutiPlusMetodej"><input class="plus" type="submit" value="+" /></form>
            <form action="/Priprava/KliknutiMinusMetodej"><input class="minus" type="submit" value="-" /></form>
            <p>@pocetLodiMetodej</p>
        </div>
        <div class="nazev">
            <p>Metoděj</p>
        </div>
        <div class="cena">
            <p>@cenaLodiMetodej¤</p>
        </div>
    </div>

    <div class="card">
        <div class="contentik">
            <img src="/img/K_lod.png" alt="lod s očima" />
        </div>
        <div class="tlacitka">
            <form action="/Priprava/KliknutiPlusBorivoj"><input class="plus" type="submit" value="+" /></form>
            <form action="/Priprava/KliknutiMinusBorivoj"><input class="minus" type="submit" value="-" /></form>
            <p>@pocetLodiBorivoj</p>
        </div>
        <div class="nazev">
            <p>Bořivoj</p>
        </div>
        <div class="cena">
            <p>@cenaLodiBorivoj¤</p>
        </div>
    </div>

    <div class="card">
        <div class="contentik">
            <img src="/img/L_lod.png" alt="lod s očima" />
        </div>
        <div class="tlacitka">
            <form action="/Priprava/KliknutiPlusCyril"><input class="plus" type="submit" value="+" /></form>
            <form action="/Priprava/KliknutiMinusCyril"><input class="minus" type="submit" value="-" /></form>
            <p>@pocetLodiCyril</p>
        </div>
        <div class="nazev">
            <p>Cyril</p>
        </div>
        <div class="cena">
            <p>@cenaLodiCyril¤</p>
        </div>
    </div>
</div>




