@model float;

<h1>Výběr lodí⚓</h1>
<div class="tvojeMama">curr <span class="curr">37 500 000$</span></div>
<br />

<div class="btn-go">
    <a href="#">GO!</a>
</div>

<div class="lod_vyber">
    <img src="/img/download.jpg" alt="lod s očima" />
    <form action="/Priprava/KliknutiPlus"><input type="submit" value="Více" /></form>
    <form action="/Priprava/KliknutiMinus"><input type="submit" value="Méně" /></form>
    <p>@Model</p>

</div>
