@model int;

@{
    string tokeny = LodeNaVode.Controllers.PripravaController.tokeny.ToString("N").Split(",")[0].Split(".")[0];
    string cenaLodiKrtecek = LodeNaVode.Controllers.PripravaController.cenaLodiKrtecek.ToString("N").Split(",")[0].Split(".")[0];
    string cenaLodiMysicka = LodeNaVode.Controllers.PripravaController.cenaLodiMysicka.ToString("N").Split(",")[0].Split(".")[0];
    string cenaLodiVB = LodeNaVode.Controllers.PripravaController.cenaLodiVB.ToString("N").Split(",")[0].Split(".")[0];
    string pocetLodiKrtecek = LodeNaVode.Controllers.PripravaController.pocetLodiKrtecek.ToString("N").Split(",")[0].Split(".")[0];
    string pocetLodiMysicka = LodeNaVode.Controllers.PripravaController.pocetLodiMysicka.ToString("N").Split(",")[0].Split(".")[0];
    string pocetLodiVB = LodeNaVode.Controllers.PripravaController.pocetLodiVB.ToString("N").Split(",")[0].Split(".")[0];
}

<h1>Výběr lodí⚓</h1>
<div class="mena">Vaše tokeny<span class="curr">@tokeny¤</span></div>
<br />

<div class="btn-go">
    <a href="#">HRA!</a>
</div>
<div class="skupina-nazev">
    <h2>Malé</h2>
</div>
<div class="lodicky">
   
    <div class="card">
        <div class="contentik">
            <img src="/img/download.jpg" alt="lod s očima" />
        </div>
        <div class="tlacitka">
            <form action="/Priprava/KliknutiPlusKrtecek"><input class="plus" type="submit" value="+" /></form>
            <form action="/Priprava/KliknutiMinusKrtecek"><input class="minus" type="submit" value="-" /></form>
            <p>@pocetLodiKrtecek</p>
        </div>
        <div class="nazev">
            <p>Krteček</p>
        </div>
        <div class="cena">
            <p>@cenaLodiKrtecek¤</p>
        </div>
    </div>

    <div class="card">
        <div class="contentik">
            <img src="/img/download.jpg" alt="lod s očima" />
        </div>
        <div class="tlacitka">
            <form action="/Priprava/KliknutiPlusMysicka"><input class="plus" type="submit" value="+" /></form>
            <form action="/Priprava/KliknutiMinusMysicka"><input class="minus" type="submit" value="-" /></form>
            <p>@pocetLodiMysicka</p>
        </div>
        <div class="nazev">
            <p>Myšička</p>
        </div>
        <div class="cena">
            <p>@cenaLodiMysicka¤</p>
        </div>
    </div>

    <div class="card">
        <div class="contentik">
            <img src="/img/download.jpg" alt="lod s očima" />
        </div>
        <div class="tlacitka">
            <form action="/Priprava/KliknutiPlusVB"><input class="plus" type="submit" value="+" /></form>
            <form action="/Priprava/KliknutiMinusVB"><input class="minus" type="submit" value="-" /></form>
            <p>@pocetLodiVB</p>
        </div>
        <div class="nazev">
            <p>VB</p>
        </div>
        <div class="cena">
            <p>@cenaLodiVB¤</p>
        </div>
    </div>
</div>




