@model int;

@{
    int tokeny = LodeNaVode.Controllers.PripravaController.tokeny;
    int cenaLodiKrtecek = LodeNaVode.Controllers.PripravaController.cenaLodiKrtecek;
}

<h1>Výběr lodí⚓</h1>
<div class="mena">Vaše tokeny<span class="curr">@tokeny¤</span></div>
<br />

<div class="btn-go">
    <a href="#">HRA!</a>
</div>


<div class="lodicky">
    <h2>Malé</h2>
    <div class="card">
        <div class="contentik">
            <img src="/img/download.jpg" alt="lod s očima" />
        </div>
        <div class="tlacitka">
            <form action="/Priprava/KliknutiPlusKrtecek"><input class="plus" type="submit" value="+" /></form>
            <form action="/Priprava/KliknutiMinusKrtecek"><input class="minus" type="submit" value="-" /></form>
            <p>@Model</p>
        </div>
        <div class="nazev">
            <p>Krteček</p>
        </div>
        <div class="cena">
            <p>@cenaLodiKrtecek¤</p>
        </div>
    </div>
</div>




