<h1>LOBBY OWNER</h1>
<p>Vítejte v novém LOBBY!</p>

<h2>Správa hráčů:</h2>
<div id="add&remove">
    <button type="button" id="addplayerButton" class="add-button">Přidat hráče</button>
    <button type="button" id="removeplayerButton" class="remove-button">Odebrat hráče</button>
</div>

<h2>Zde vyberte herní mód:</h2>
<div id="lobby">
    <button type="button" id="mode1Button" class="game-mode-button">Herní mód 1</button>
    <button type="button" id="mode2Button" class="game-mode-button">Herní mód 2</button>
    <button type="button" id="mode3Button" class="game-mode-button">Herní mód 3</button>
    <button type="button" id="mode4Button" class="game-mode-button">Herní mód 4</button>
</div>

<h2>Pokud už nechcete hrát, můžete:</h2>
<div id="exit">
    <button type="button" id="exitButton" class="exit-button">Opustit LOBBY</button>
</div>

<style>
    .game-mode-button {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 10px;
    }

    #mode2Button {
        background-color: #800080;
    }

    #mode3Button {
        background-color: #28a745;
    }

    #mode4Button {
        background-color: #ffc107;
    }

    .exit-button {
        background-color: #dc3545;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .add-button {
        background-color:#00FF00;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .remove-button {
        background-color: #FF0000;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
</style>