@{
    ViewData["Title"] = "Lodě na vodě";
}

<h1>@ViewData["Title"]</h1>

<a href="/Home/SmazatVsechnyHrace">DEBUG OPTION - promazat databázi hráčů</a>

<form action="/Home/JoinLobby" method="get">
    <input type="text" name="playerName" placeholder="Insert player name..."><br>
    <input type="submit" value="Vstoupit do hry!">
</form>
<p>@ViewData["debugmsg"]</p>