@{
    ViewData["Title"] = "Lodě na vodě";
}

<h1>@ViewData["Title"]</h1>
<a href="/Lobby/Create">Vytvořit lobby</a>
<form action="/Lobby/Join" method="get">
    <input type="text" name="lobbyId" placeholder="Lobby ID"><br>
    <input type="submit" value="Připojit k lobby">
</form>