@{
    ViewData["Title"] = "Lodě na vodě";
}

<h1>@ViewData["Title"]</h1>
<form action="/Home/JoinLobby" method="get">
    <input type="text" name="playerName" placeholder="Insert player name..."><br>
    <input type="submit" value="PLAY!">
</form>
<p>@ViewData["debugmsg"]</p>